@import './colors.css';

@font-face {
  font-family: 'GolosText';
  src: url('/fonts/GolosText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

hr {
  color: var(--light-gray);
  border: none;
  background-color: var(--light-gray);
  height: 1px;
}

code {
  background: var(--light-gray);
}

.main {
  height: 100vh;
  background: var(--off-white);
  transition: all 0.3s;
}

.navbar {
  display: flex;
  background: var(--white);
}

.navbar__header {
  font-size: 15px;
  padding: 10px 5px;
  transition: background 0.4s;
}

.navbar__header:hover {
  background: var(--light-gray);
}

.navbar__header--active {
  border-block-end: 1px solid; 
  border-block-end-color: var(--blue); 
  writing-mode: horizontal-tb;
}

.work-space {
  padding: 20px;
}

.card-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%
}

.card {
  padding: 20px;
  border-radius: 5px;
  width: 33%;
  flex: 1 1 auto;
  background: var(--white);
  position: relative;
}

.card__header {
  font-size: 20px;
}

.card__body {
  font-size: 13px;
}


/* Стили для редактора */
.stage-body {
  height: calc(100vh - 78px);
  overflow-x: scroll;
  overflow-y: scroll;
}

.stage-parent {
  height: 100vh;
  width: 1000vh;
  position: relative;
  background: url("/background2.svg");
}

.stage-card {
  padding: 10px;
  border-radius: 5px;
  background: var(--off-white);
  margin-bottom: 5px;
}

.stage-route-button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

/* Классы общего назначения */

.flex {
  display: flex;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.stage-popover {
  position: absolute;
  background: var(--white);
  border: 1px solid var(--light-gray);
  padding: 3px;
  display: grid;
  gap: 5px;
  z-index: 1000;
  border-radius: 5px;
}

.editor-popover {
  position: absolute;
  width: 400px;
  height: calc(100vh - 78px);
  right: 0;
  padding: 20px;
  background: var(--white);
  z-index: 10000;
}

.stage-popover__header {
  font-size: 20px;
  display: flex;
  padding-bottom: 5px;
}

.button-popover {
  padding: 10px;
  background: var(--off-white);
  border-radius: 2px;
  transition: all 0.4s;
}

.button-popover:hover {
  background: var(--light-gray);
}

/* Сбросы */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'GolosText';
  color: var(--black);
}

ul {
  list-style: inside;;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--black);
}

a:visited {
  color: var(--black);
}