@import './colors.css';

hr {
  color: var(--light-gray);
  border: none;
  background-color: var(--light-gray);
  height: 1px;
}

.main {
  height: 100vh;
  background: var(--off-white);
}

.navbar {
  display: flex;
  background: var(--white);
}

.navbar__header {
  font-size: 15px;
  padding: 10px 5px;
  transition: background 0.4s;
}

.navbar__header:hover {
  background: var(--light-gray);
}

.navbar__header--active {
  border-block-end: 1px solid; 
  border-block-end-color: var(--blue); 
  writing-mode: horizontal-tb;
}

.work-space {
  padding: 20px;
}

.card-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%
}

.card {
  padding: 20px;
  border-radius: 5px;
  width: 33%;
  flex: 1 1 auto;
  background: var(--white);
  position: relative;
}

.card__header {
  font-size: 20px;
}

.card__body {
  font-size: 13px;
}

/* Классы общего назначения */

.flex {
  display: flex;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Сбросы */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Ubuntu', 'Verdana';
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:hover {
  color: var(--black);
}

a:visited {
  color: var(--black);
}