@import './colors.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css';

hr {
  color: var(--light-gray);
  border: none;
  background-color: var(--light-gray);
  height: 1px;
}

.main {
  height: 100vh;
  background: var(--off-white);
}

.navbar {
  display: flex;
  background: var(--white);
}

.navbar__header {
  font-size: 15px;
  padding: 10px 5px;
  transition: background 0.4s;
}

.navbar__header:hover {
  background: var(--light-gray);
}

.navbar__header--active {
  border-block-end: 1px solid; 
  border-block-end-color: var(--blue); 
  writing-mode: horizontal-tb;
}

.work-space {
  padding: 20px;
}

.card-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%
}

.card {
  padding: 20px;
  border-radius: 5px;
  width: 33%;
  flex: 1 1 auto;
  background: var(--white);
}

.card__header {
  font-size: 20px;
}

.card__body {
  font-size: 13px;
}

// классы общего назначения

.flex {
  display: flex;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Ubuntu';
}
